@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin:0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    
    font-size: 26px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

p {
    font-size: 14px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button:focus{
    outline: none !important;
    box-shadow: none !important;
}
.space-section {
    padding: 100px 0;
}

.List-items-live button {
    margin: 0 15px 4px 0;
}
.nft-card {
    position: relative;
}

.nft-card .nft-body {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    color: #ffff;
}
.tabs-content {
  margin-top: 50px;
}
.index-bord {
    background: #0e0e0e;
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    min-width: 115px;
}

.index-bord p {
    font-size: 12px;
    margin: 0;
}

.index-bord span {
    font-size: 11px;
}

.nft-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.List-items-live button svg {
    position: relative;
    font-size: 18px;
    margin-right: 3px;
    vertical-align: middle;
    top: -1px;
}
.nft-card {
    position: relative;
}
.tabs-content {
    margin-top: 50px !important;
}
.nft-card .nft-body {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    color: #ffff;
}

.tabs-content{
    margin-top: 50px;
}
.nft-card {
    position: relative;
}

.nft-card .nft-body {
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    color: #ffff;
}

.index-bord {
    background: #2b2b2b;
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
}

.tabs-content {
  margin-top: 50px;
}.nft-img img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.List-items-live .btn-outline-dark {
    border-color: #ddd;
    font-size: 14px;
    border-radius: 40px;
    min-width: 145px;
    display: inline-block;
}

.List-items-live .btn-outline-dark:hover , .List-items-live .btn-outline-dark.active  {
    border-color: #212529;
    background: #212529;
}

.tabs-content .row {
    margin-top: -30px;
}

.tabs-content .row > div {
    margin-top: 30px;
}

.nft-body h2 {
    margin-bottom: 30px;
    font-size: 22px;
}
@media (min-width:768px){
    .text-md-left {
        text-align: left !important;
    }
}
@media (max-width: 1199px){

    .List-items-live {
        text-align: center;
    }
}
@media (max-width: 767px){
    .List-items-live button {
        margin: 0 10px 10px 0;
    }
    .space-section {
        padding: 50px 0;
    }
}